<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Đăng ký nhận thông báo</h2>
        <span>Nhận thông báo về sản phẩm mới và đơn hàng đặc biệt qua e-mail</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Nhập email của bạn">
            <input type="submit" value="Đăng ký" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>