<%- include('partials/header'); %>
<%- include('partials/nav'); %>

<%- include('partials/bread'); %>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url(images/about.jpg);">
        <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
          <span class="icon-play"></span>
        </a>
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Chào mừng tới Vegefoods</h2>
          </div>
        </div>
        <div class="pb-md-5">
          <p>Chuyên cung cấp các mặt hàng rau củ quả sạch, không chất bảo quản, an toàn cho sức khỏe, đáp ứng nhu cầu
            của khách hàng</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem omnis possimus excepturi. Est
            voluptatum deleniti dignissimos suscipit dolores nobis esse tempore, aut nam illum magnam beatae ab facilis
            libero voluptatibus?</p>
          <p><a href="#" class="btn btn-primary">Mua ngay</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/subscription') %>

<!-- Show-off -->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="10000">0</strong>
                <span>Khách hàng thỏa mãn</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Chi nhánh</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Đối tác</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Giải thưởng</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/feedback'); %>

<%- include('partials/feature'); %>

<%- include('partials/footer'); %>